<div class="container">
  <div class="footer-grid">
    <div>
      <h4>FormMasterPro</h4>
      <p>Advanced form automation for web applications.</p>
    </div>
    <div>
      <h4>Resources</h4>
      <ul>
        <li><a href="docs.html">Documentation</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="changelog.html">Changelog</a></li>
      </ul>
    </div>
    <div>
      <h4>Legal</h4>
      <ul>
        <li><a href="privacy.html">Privacy Policy</a></li>
        <li><a href="terms.html">Terms of Service</a></li>
      </ul>
    </div>
    <div>
      <h4>Support</h4>
      <ul>
        <li><a href="report-bug.html">Report a Bug</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    &copy; 2025 FormMasterPro. All rights reserved.
  </div>
</div>
